<!DOCTYPE html>
<html lang="fr">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Risitas Simulator</title>
    <link rel="stylesheet" href="../assets/css/main.css">
</head>

<body>
    <header>

    </header>
    <main>
        <div class="mainScreen">
            <div class="normalRisitas"></div>
        </div>
    </main>
    <footer>
        <div id="containerSelect">
            <div id="food" class="containerChildSelect">
                <select name="foods" id="foodSelect">
                    <option value="">Nourriture</option>
                    <option value="burger">Burger</option>
                    <option value="kfc">KFC</option>
                    <option value="kebab">Kebab</option>
                    <option value="pizza">Pizza</option>
                    <option value="spider">Spider</option>
                    <option value="goldfish">Goldfish</option>
                </select>
                <button class='buttonGive'>Donner</button>
            </div>
            <div id="drink" class="containerChildSelect">
                <select name="drinks" id="drinkSelect">
                    <option value="">Boisson</option>
                    <option value="dog">Dog</option>
                    <option value="cat">Cat</option>
                    <option value="hamster">Hamster</option>
                    <option value="parrot">Parrot</option>
                    <option value="spider">Spider</option>
                    <option value="goldfish">Goldfish</option>
                </select>
                <button class='buttonGive'>Donner</button>
            </div>
            <div id="sleep" class="containerChildSelect">
                <select name="sleep" id="sleepSelect">
                    <option value="">Dormir</option>
                    <option value="dog">Dog</option>
                    <option value="cat">Cat</option>
                    <option value="hamster">Hamster</option>
                    <option value="parrot">Parrot</option>
                    <option value="spider">Spider</option>
                    <option value="goldfish">Goldfish</option>
                </select>
                <button class='buttonGive'>Dormir</button>
            </div>
            <div id="play" class="containerChildSelect">
                <select name="play" id="playSelect">
                    <option value="">Jouer</option>
                    <option value="dog">Dog</option>
                    <option value="cat">Cat</option>
                    <option value="hamster">Hamster</option>
                    <option value="parrot">Parrot</option>
                    <option value="spider">Spider</option>
                    <option value="goldfish">Goldfish</option>
                </select>
                <button class='buttonGive'>Jouer</button>
            </div>
            <div id="outButton">
                <button>Sortir ></button>
            </div>
        </div>
        <div id="containerInformationBar">
            <div class="containerMainbar containerMainbarFood">
                <div class="containerBar BarFood">
                    <div class="bar barFood"></div>
                </div>
                <p>Faim</p>
            </div>
            <div class="containerMainbar containerMainbarDrink">
                <div class="containerBar BarDrink">
                    <div class="bar barDrink"></div>
                </div>
                <p>Soif</p>
            </div>
            <div class="containerMainbar containerMainbarSleep">
                <div class="containerBar BarSleep">
                    <div class="bar barSleep"></div>
                </div>
                <p>Fatigue</p>
            </div>
            <div class="containerMainbar containerMainbarPlay">
                <div class="containerBar BarPlay">
                    <div class="bar barPlay"></div>
                </div>
                <p>Satisfaction</p>
            </div>  
        </div>
    </footer>
</body>

</html>